@import './compoments/GlobalStyles/GlobalStyles.scss';

#root{
    background-color: #dbdbdb;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
}

.App {
    overflow: hidden;
    width: 116rem;
    height: 90vh;
    background-color: #e7e8f3;
    border-radius: $unit2;
    box-shadow: 0 0 0.8rem black;
    margin: 5% 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.2fr 1fr;

    
}

.App__Container {
    max-height: 90vh;
    position: relative;
}

.Container {
    padding: 0 2rem;
    position: relative;
    top: 20px;
    height: calc(100% - $heightFooter - $headerHeight);
    overflow: hidden auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;        /* Màu nền ngoài của thanh scrollbar */
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 80px;       /* Bo góc scroll thumb */
        border: none;
        
        &:hover {
            background-color: #ffa500;    /* Màu của thanh cuộn (scroll thumb) */
        }
    }
    
    &:hover::-webkit-scrollbar-thumb {
        border: 2px solid #ccc;  /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
        background-color: #ffa500; /* Hiệu ứng di chuột đổi màu*/
    }   
}